* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

/* REMOVE UNNECESSARY CLASS "HEADER" / CHANGED DISPLAY FOR HEADER NAVIGATION TO FLEX TO SIMPLIFY MARGINS*/
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* REMOVE DISPLAY TYPE SINCE IT IS NOW FLEXED */
h1 {
    font-size: 48px;
}

/* CHANGE FROM CLASS TO ID / CHANGES SEO PART OF COMPANY NAME */
#seo {
    color: #d9dcd6;
}

/* CHANGE DIV TO NAV / FLOAT NOT NEEDED SINCE FLEX */
nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-left: 25px;
}

/* REMOVE UNNECESSARY CSS */
/* header nav ul {
    list-style-type: none;
} */

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

/* ADDED A HOVER COLOR FOR THE NAV TEXT */
nav a:hover {
    color: #d9dcd6;
  }

p {
    font-size: 16px;
}

.main-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* REMOVED UNNECESSARY CLASS CONTENT*/
section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* REORGANIZED CLASSES FOR THE SECTION PORTION OF HTML */
/* removed classes from article to just reference article */
article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* UNNECESSARY CLASSES */
/* 
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */

article img{
    max-height: 200px;
}

/* section article img:nth-child(odd){
    float: left;
    margin-right: 25px;
}

section article img:nth-child(even){
    float: right;
    margin-right: 25px;
} */

/* UNNECESSARY CLASSES */
/* 
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
} */

article h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/* UNNECESSARY CLASSES */
/* .search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
} */

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}



/* MOVED CLASSES FOR ASIDE TO END MATCHING HTML / REMOVE BENEFITS CLASS AND CHANGE TO ASIDE */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside div {
    margin-bottom: 32px;
    color: #ffffff;
}

/* UNNECESSARY CLASSES */
/* 
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
} */

aside div h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* UNNECESSARY CLASSES */
/* .benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
} */

aside div img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* UNNECESSARY CLASSES */
/* .benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}